* {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;

}
#nav{
    height:85px;
    width:100%;

    border-bottom:1px solid lightgrey ;

}
.logo-left{
    line-height:100px;
    margin:auto 0;
    position:relative;

    float: left;
}
.color{
    background-color: aliceblue;
}
.size {
    height: 40px;

}
#search-form{
    width:340px;
    float: left;
}
#search-div {
    float: left;
    
}
#img-search{
    cursor: hand; width:10%; height: 37%; display: inline-block;position:relative; top:26px;

}
.nav-div{

    float: left;

    line-height: 50%;
    font-size:21px;
    position: relative;
    top:23px;
    left:20px;
}

.nav-pills a{


    color: #ff0a29;

}
.nav-pills li a[class*=info]:hover{
    background-color: #ff8a9e!important;
    color: #ffffff;

}
button{
    float: right;
}
.nav-right {
   width: 56%;
    height:35%;

}
.nav-right-class {
    float: left;
    position: relative;
    left: 152px;
    top:3px;
}

.message-div{
    float: left;
    position: relative;
    left: 8px;
    top:3px;
}
.downdrop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}
.nav-right-class:hover .downdrop{
    display: block;
}
.downdrop p{
    font-size: 15px;
    padding: 10px;
}
/*
#person-id:hover{
    background-color: #5bc0de!important;
}*/
